<div class="col-md-4">
	<div id="side-wrapper">
		<h3>SideBar</h3><br>
		<ul>
			<li>Quick Start</li>
			<li>Documentation</li>
			<li>Events</li>
			<li>Services</li>
			<li>FAQs</li>
			<li>Privacy Policy</li>
		</ul>
	</div>
</div>